[project]
	description = m'Manager Language Files
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Eric Claver AKAFFOU (myEric)
[access "refs/for/refs/*"]
	read = group user/Eric Claver AKAFFOU (myEric)
	push = group user/Eric Claver AKAFFOU (myEric)
	label-Code-Review = -2..+2 group user/Eric Claver AKAFFOU (myEric)
	label-Verified = -1..+1 group user/Eric Claver AKAFFOU (myEric)
	rebase = group user/Eric Claver AKAFFOU (myEric)
	removeReviewer = group user/Eric Claver AKAFFOU (myEric)
	submit = group user/Eric Claver AKAFFOU (myEric)
[access "refs/heads/*"]
	read = group user/Eric Claver AKAFFOU (myEric)
	create = group user/Eric Claver AKAFFOU (myEric)
	push = +force group user/Eric Claver AKAFFOU (myEric)
	pushMerge = group user/Eric Claver AKAFFOU (myEric)
[access "refs/tags/*"]
	push = group user/Eric Claver AKAFFOU (myEric)
	push = +force group user/Eric Claver AKAFFOU (myEric)
